{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_accounts.css' %}">
{% endblock %}

{% block extra_title %}
     | My Profile
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
<section class="accounts-section container">
    <h1 class="section-heading">Your Profile</h1>
    <p>See all of your account details here!</p>

    <div class="accounts-row-spacer row">
        <div class="col d-flex justify-content-center align-items-center">
            <img src="{% if user.profile.picture %}{{ user.profile.picture.url }}?{{ user.profile.updated_at.timestamp }}{% else %}https://res.cloudinary.com/ddj2rpxcb/image/upload/v1746752329/user-default_ruxmux.png{% endif %}" 
                 alt="Profile Picture" 
                 class="image-fluid profile-portrait">
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'accounts:upload_profile_picture' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="profile_picture" class="btn btn-outline-secondary btn-sm">Upload New Picture</label>
                <input type="file" id="profile_picture" name="profile_picture" class="d-none" onchange="this.form.submit()">
            </div>
        </form>        
    </div>
    

    <!-- Profile Table -->
    <div class="col">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td><strong>Username</strong></td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td><strong>First Name</strong></td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td><strong>Last Name</strong></td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td><strong>Joined</strong></td>
                    <td>{{ user.date_joined|date:"F d, Y" }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="accounts-row-spacer row">
        <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
    </div>
</section>
{% endblock %}