{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section class="about-us-section py-5">
        <div class="container">
            <h2 class="text-center mb-4 text-black section-heading">About Us</h2>
            <p class="text-center">
                At Pixel Craft, we are a team of passionate designers dedicated to helping brands communicate their vision 
                through creative and innovative design solutions. 
                <br>
                <br>
                Our mission is to deliver high-quality designs that resonate 
                with your audience and elevate your brand. We believe in a collaborative approach, working closely with you to 
                bring your ideas to life. 
                <br>
                <br>
                Our ethos is rooted in creativity, attention to detail, and a commitment to excellence 
                in every project we undertake.
            </p>
            <br>
            <p class="text-center">
                Based in Abergele, we are surrounded by the stunning landscapes of North Wales, which inspire our creativity and 
                passion. This charming coastal town offers a unique blend of natural beauty, rich history, and a strong sense of 
                community. 
                <br>
                <br>
                We chose Abergele as the home of our business because it reflects our values of quality, authenticity, 
                and personal connections. Being part of such a welcoming town allows us to foster meaningful relationships with 
                our clients while contributing to the local community.
            </p>
        </div>
    </section>
    

    <section class="services-section py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-white section-heading">Our Services</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                {% for service in services %}
                <div class="col text-center">
                    <a href="" class="service-link">
                        <div class="service-item">
                            <div class="service-icon">
                                <img src="{% static service.icon %}" alt="{{ service.title }}" class="img-fluid rounded-circle">
                            </div>
                            <h3 class="service-title">{{ service.title }}</h3>
                            <p class="service-cost">{{ service.cost }}</p>
                            <p class="service-description">{{ service.description }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="portfolio-section py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-white section-heading">Our Portfolio</h2>
    
            <!-- Portfolio Cards -->
            <div class="row">
                {% for image in portfolio_images %}
                    <div class="col-12 col-md-6 col-lg-4 mb-4">
                        <!-- Portfolio Card -->
                        <a href="{{ image.link }}" class="portfolio-card">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ image.title }}</h5>
                                    <p class="card-text">{{ image.description }}</p>
                                </div>
                                <img src="{% static image.img_url %}" class="card-img-top" alt="Portfolio Image">
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
{% endblock %}