{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <section class="services-section py-5">
        <div class="container">
            <h2 class="text-center mb-5">Our Services</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                {% for service in services %}
                <div class="col text-center">
                    <div class="service-item">
                        <div class="service-icon">
                            <img src="{% static service.icon %}" alt="{{ service.title }}" class="img-fluid rounded-circle">
                        </div>
                        <h3 class="service-title">{{ service.title }}</h3>
                        <p class="service-cost">{{ service.cost }}</p>
                        <p class="service-description">{{ service.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
{% endblock %}