{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font hero-heading">
                    View all of our great designs here
                </h1>
            </div>
        </div>
    </div>

    <!-- Extend this for a more detailed, grid view all of the products that we offer. Each product will have 
         a variety of options via dropdown menus and will require images that change based on which option is selected -->
    <section class="services-section py-5">
        <div class="container">
            <h2 class="text-center mb-5 text-white section-heading">Our Services</h2>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                {% for service in services %}
                <div class="col text-center">
                    <a href="" class="service-link">
                        <div class="service-item">
                            <div class="service-icon">
                                <img src="{% static service.icon %}" alt="{{ service.title }}" class="img-fluid rounded-circle">
                            </div>
                            <h3 class="service-title">{{ service.title }}</h3>
                            <p class="service-cost">{{ service.cost }}</p>
                            <p class="service-description">{{ service.description }}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    
{% endblock %}