body {
    background: #fff; /* Sets a white background */
    background-image: none; /* Ensures no background image is displayed */
    color: #555;
    font-family: 'Lato';
    font-size: 18px;
}

#delivery-banner {
    margin-top: 0.4em;
}

.core-page-section {
    padding-top: 130px;
    font-size: 22px;
}

.core-page-section > h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2mm;
    color: #616161;
    text-shadow: 1px 1px 4px rgba(70, 128, 82, 0.3);
}

section > h2 {
    font-size: 36px;
    letter-spacing: 1mm;
    padding: 1em;
    background: linear-gradient(to right, #4f696d, #85b2b8); /* soft green gradient */
    -webkit-background-clip: text;
    color: transparent;
}

/* Center all text within the containers */
.container {
    text-align: center;
}

/* Ensure headers and paragraphs are also centered */
h1, h2, p {
    text-align: center;
    padding-bottom: 0.5em;
}

.core-page-ul {
    list-style-position: inside; /* Keeps list markers aligned with text */
    list-style-type:upper-roman;
    text-align: left;
}

.core-page-sub-ul {
    list-style-type: none;
    padding-top: 20px;
}

hr {
    width: 70%;
    margin: 0 auto;
}
