{% load static %}

<nav class="navbar navbar-light navbar-expand-lg bg-offwhite fixed-top">
    <div class="container-fluid">
        <!-- Logo Section -->
        <div class="d-flex align-items-center me-auto" style="width: 20%;">
            <a href="/" class="navbar-brand">
                <img src="{% static 'images/logo.png' %}" alt="PixelCraft Logo" class="logo-img">
            </a>
        </div>

        <!-- Navigation Tabs -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-around">
                {% with url_name=request.resolver_match.url_name %}
                <li class="nav-item {% if not url_name or url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="" aria-label="Home">Home</a>
                </li>
                <li class="nav-item {% if url_name == 'products' %}active{% endif %}">
                    <a class="nav-link" href="" aria-label="Products">Products</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item {% if url_name == 'orders' %}active{% endif %}">
                    <a class="nav-link" href="" aria-label="Orders">Orders</a>
                </li>
                <li class="nav-item {% if url_name == 'profile' %}active{% endif %}">
                    <a class="nav-link" href="" aria-label="My Profile">My Profile</a>
                </li>
                {% else %}
                <li class="nav-item {% if url_name == 'login' %}active{% endif %}">
                    <a class="nav-link" href="" aria-label="Sign In">Login / Sign Up</a>
                </li>
                {% endif %}
                {% endwith %}
            </ul>
        </div>

        <!-- Toggler for Mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
