{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_products.css' %}">
{% endblock %}

{% block content %}
  <section class="transparent-container-fw">

    <!-- Product Details -->
    <div class="container product-details">
      <div class="row product-description" data-has-options="{% if product.options.all %}true{% else %}false{% endif %}">

        <!-- Product Image Display -->
        <div class="col-md-6">
          <div id="productImageContainer">
            {% if product.options.first.image %}
              <img id="productImage" src="{{ product.options.first.image }}" alt="Product Image" class="d-block w-100" aria-labelledby="productName">
            {% else %}
              <img id="productImage" src="{{ product.image_url }}?q_auto,f_auto,c_fill,w_300,h_300" alt="No product image available" class="d-block w-100" aria-labelledby="productName">
            {% endif %}
          </div>
        </div>

        <!-- Product Information -->
        <div class="col-md-6">
          <h3>{{ product.name }}</h3>
          <p>{{ product.description }}</p>
          
          <!-- Product Form -->
          <form id="productForm" method="POST" action="{% url 'add_to_cart' %}" data-base-price="{{ product.price }}" aria-labelledby="productName">
            {% csrf_token %}

            <!-- Hidden Product ID -->
            <input type="hidden" name="product_id" value="{{ product.id }}">

            <!-- Option Dropdown (if exists) -->
            {% if product.options.all %}
              <div class="mb-3">
                <label for="optionSelect" class="form-label">Options</label>
                <select class="form-select" id="optionSelect" name="option" onchange="updateImage()" aria-describedby="optionSelectDescription">
                  {% for option in product.options.all %}
                    <option value="{{ option.id }}"
                            data-option-price="{{ option.price }}"
                            data-option-name="{{ option.name }}"
                            data-image-url="{{ option.image }}">
                      {{ option.name }} - £{{ option.price }}
                    </option>
                  {% endfor %}
                </select>
              </div>

            <!-- Hidden Option Dropdown -->
            {% else %}
              <p>No additional options available for this product.</p>
            {% endif %}

            <!-- Quantity Dropdown -->
            <div class="mb-3">
              <label for="quantity" class="form-label">Quantity</label>
              <input type="number" id="quantity" name="quantity" class="form-control" value="1" min="1" onchange="updatePrice()" aria-labelledby="quantityLabel">
            </div>
          
            <!-- Total Price Display -->
            <p>Total: £<span id="totalPrice">{{ product.price }}</span></p>
          
            <!-- Add to Cart Button -->
            <button type="submit" class="btn btn-primary">Add to Cart</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <script src="{% static 'js/product.js' %}"></script>

{% endblock %}
